@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}

.logo {
    margin: 0 auto;
}

.menu {
    padding-left: 35px;
    padding-right: 60px;
    &__list {
        display: flex;
    }

    &__list-item  {
        padding-left: 80px;
    }

    &__list-link {
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9);
        line-height: 22px;
    }
}

.footer {
    &__content {
        background-color: #dfdfdf;
        padding: 60px 0 80px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 540px;
    }

    &__info-title {
       color: $title;
       @extend %title-font;
       margin-bottom: 14px;
       line-height: 23px; 
    }

    &__info-text {
        margin-bottom: 16px;
        max-width: 475px;
    }

    &__info-email {
        font-weight: 600;
        font-size: 14px;
        color: $title;
        margin-bottom: 22px;
        padding-left: 30px;
        display: inline-block;
    }

    &__form {

    }

    &__form-input {
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        border: 1px solid rgba($title, .7);
        background-color: transparent;
        width: 368px;

        &::placeholder {
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #a1a1a1;
        }
    }

    &__form-button {

    }

    &__copyright {
        background-color: $title;
        color: #A1A1A1;
        text-align: center;
        padding: 42px 15px 41px;
    }
}


